.Home{
    display: flex;
    justify-content: space-between;
}

.div__left{
    margin-left: 7vw;
    margin-top: 20vh;
    animation: left 3s 1s linear  ;
}
@keyframes left {
    0%   { left:0px; top:0px;}
    100% { left:100%; top:0px}
}

.div__left h1{
    font-size: 50px;
}
.div__left h2{
    font-size: 40px;
}
.div__left button{

    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid blueviolet;
}
.div__rigth{
    margin-top: 20vh;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}
.div__rigth img{
    height: 25em;
    width: 20em;
    border-radius: 5%; 
    position: absolute;
   
    
}





